.news-header {
  width: 100%;
  display: flex;
  min-height: 7rem;
  background-color: #111214;
  border-radius: 1rem 1rem 0 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

.logo {
  font-family: "Bebas Neue", sans-serif;
  font-size: 5rem;
  color: #ddd;
  letter-spacing: 0.2rem;
}

.searchBar {
  position: relative;
}

.searchBar input {
  width: 25rem;
  height: 4rem;
  background-color: #060409;
  border: none;
  text-transform: capitalize;
  border-radius: 5rem;
  padding: 0 4rem 0 2rem;
  color: #ddd;
  transition: width 0.3s;
}

.searchBar input:focus {
  width: 35rem;
}

.searchBar input:focus::placeholder {
  color: transparent;
}

.searchBar button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  color: #bbb;
  font-size: 2rem;
}
